.about {
    height: calc(100% - 30rem);

    display: grid;

    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;

    // Fix reversed bg image on section-about
    transform: rotate(-180deg) translateY(30rem);
    margin: 0 5rem;
    width: 100%;
    position: relative;

    &__header {
        grid-row: 1 / 2;
        margin-top: 10rem;
        font-size: 3rem;
        color: white;

        @media only screen and (max-width: 76.5em) {
            margin-bottom: 15rem;
        }
    }

    &__icon {
        grid-row: 2 / 3;
        height: 4rem;
        width: 4rem;
        fill: white;
        margin-bottom: 30rem;
        opacity: 0;

        z-index: 100;

        @media only screen and (max-width: 76.5em) {
            display: none;
        }
    }

    &__card-group {
        grid-row: 3 / 4;
        margin-bottom: 10rem;
        width: 100%;

        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 4rem;

        z-index: 5000;
    }

    &__viewport {
        grid-row: 4 / 5;
    }

}