.about {
    transform: rotate(-180deg) translateY(30rem);
    ;
    background-color: green;


    &__card-group {
        margin: 50px 40px 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        justify-items: center;

    }
}