.App {
    position: relative;
    height: 100vh;

    display: grid;
    grid-template-rows: [nav-start hero-start]4rem [nav-end]95vh[hero-end story-start]100vh [story-end about-start]200vh[nav-start] 4rem [nav-end about-end];
    grid-template-columns: repeat(8, 1fr);

}

.section--hero {
    grid-column: 1 / 9;
    grid-row: hero-start / hero-end;
    justify-items: center;


    margin-top: -6vh;
    background-image: url('../static/bg--primary.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.story {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

.section--about {
    grid-column: 1 / -1;
    grid-row: about-start / about-end;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-image: url('../static/bg--secondary.svg');

    margin-top: -20rem;
    transform: rotate(180deg);
    position: relative;
    z-index: -50;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     height: 200%;
    //     width: 200%;
    //     top: -50%;
    //     left: -50%;
    //     z-index: -1;

    //     background-image: url('../static/bg--secondary.svg');
    //     margin-top: -20rem;

    //     transform: rotate(180deg);
    //     z-index: -50;
    // }

}

.footer {
    grid-row: nav-start / nav-end;
}