.slider {
    position: relative;
    height: 90%;
    width: 70vw;


    overflow: hidden;

    white-space: nowrap;

    display: flex;
    flex-direction: column;

    &__wrapper {
        position: relative;
        height: 90%;
    }

    &__slide {
        margin-top: 2rem;
        width: 100%;
        height: 90%;
        background-position: 50% 60%;
        border-radius: 4px;

        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;






        transition: all .15s ease-in-out;

        &:hover {
            transform: scale(1.03);
        }


    }

    &__arrow-wrapper {
        width: 30%;
        height: 10%;
        border-radius: .5rem;
        z-index: 100;
        margin: 0 auto;
        margin-top: 2rem;

        position: relative;
    }

    &__arrow {

        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: transform ease-in .1s;
        position: relative;

        &--right {
            position: absolute;
            right: 1rem;
            z-index: 999;


            &:hover {
                color: #31458C;
            }
        }

        &--left {
            position: absolute;
            left: 1rem;
            z-index: 999;

        }
    }

    .fa-arrow-right:before,
    .fa-arrow-left:before {
        color: rgba(255, 245, 245, 0.63)
    }



}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}