.about__viewport {
    // set margin dynamically to  -30 rem create animation effect

    background-color: rgba(0, 0, 0, 0.685);
    z-index: 0;
    margin-top: 2rem;
    border-radius: 1rem;

    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


///// ARTVIEW ////

//// NATUREVIEW ////

//// CODEVIEW ////