.about__viewport {
    // set margin dynamically to  -30 rem create animation effect

    background-color: rgba(0, 0, 0, 0.685);
    z-index: 0;
    margin-top: 2rem;
    border-radius: .5rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


///// ARTVIEW ////

//// NATUREVIEW ////

//// CODEVIEW ////