@import "./modules/_variables.scss";
@import "./modules/_animations.scss";

@import "./partials/_base.scss";
@import "./partials/_layout.scss";

@import "./components/_header.scss";
@import "./components/_images.scss";
@import "./components/_about.scss";
@import "./components/_birds.scss";
@import "./components/_card.scss";
@import "./components/_footer.scss";
@import "./components/_navigation.scss";
@import "./components/_story.scss";
@import "./components/_viewport.scss";
@import "./components/_wave.scss";
@import "./components/_artview.scss";
@import "./components/_slider.scss";
@import "./components/_introduction.scss"