.slide-up {
  -moz-animation: slide-up 1s;
  -webkit-animation: slide-up 1s;
  animation: slide-up 1s;
  animation-fill-mode: forwards; }

@keyframes slide-up {
  0% {
    margin-top: 0rem; }
  100% {
    margin-top: -40rem; } }

.bounce {
  -moz-animation: bounce 3s;
  -webkit-animation: bounce 3s;
  animation: bounce 3s;
  animation-fill-mode: forwards; }

@keyframes bounce {
  0% {
    transform: translateY(0);
    margin: 5rem 9rem 20rem 9rem; }
  10% {
    transform: translateY(-15px);
    opacity: 1;
    visibility: visible; }
  70% {
    transform: translateY(120px);
    opacity: 0; }
  80% {
    transform: translateY(100px);
    margin-top: 5rem; }
  90% {
    transform: translateY(120px); }
  100% {
    transform: translateY(120px);
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 9rem;
    margin-right: 9rem;
    opacity: 0;
    visibility: hidden; } }

*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  overflow-x: hidden; }

App {
  position: relative; }

::-webkit-scrollbar {
  width: 3px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

::-webkit-scrollbar-thumb {
  background: #ffbb00cc; }

.main-app {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 4rem 95vh 80rem 60rem 10rem;
  grid-template-columns: repeat(8, 1fr); }

.section--hero {
  grid-column: 1 / 9;
  grid-row: 1 / 3;
  justify-items: center;
  margin-top: -6vh;
  width: 100vw;
  background-image: url("../static/bg--primary.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

.story {
  grid-row: 3 / 4;
  grid-column: 1 / 9; }

.section--about {
  grid-column: 1 / 9;
  grid-row: 4 / 5;
  position: relative;
  margin-top: -45rem;
  transform: rotate(180deg);
  background-image: url("../static/bg--secondary.svg");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -50; }
  .section--about .rotation-correction {
    transform: rotate(180deg);
    margin-top: -20rem;
    display: flex;
    justify-content: center;
    align-items: center; }

.footer {
  grid-row: 5 / 6;
  grid-column: 1 / 9; }

.header {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  position: fixed;
  height: 4rem;
  width: 100vw;
  background-color: rgba(49, 13, 53, 0.1);
  font-size: 1.5rem;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100; }
  @media only screen and (min-width: 31.25em) {
    .header {
      font-size: 2rem; } }
  .header--scrolled {
    padding: 15px 0;
    height: 4rem;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    color: #ffbb00cc; }

.header__logo {
  margin-left: 2rem;
  padding: .5rem 0; }

.tree {
  background-image: url("../static/tree.svg");
  height: 100px;
  width: 100px;
  z-index: 5; }

.about {
  height: 60%;
  display: grid;
  grid-template-rows: 1fr repeat(3, 2fr);
  justify-items: center;
  align-content: center;
  grid-gap: 1rem;
  transform: rotate(-180deg) translateY(30rem);
  margin: -30rem 5rem 0 5rem;
  width: 100%;
  position: relative; }
  .about__header {
    grid-row: 1 / 2;
    margin-top: 10rem;
    font-size: 3rem;
    color: white; }
    @media only screen and (max-width: 76.5em) {
      .about__header {
        margin-bottom: 15rem; } }
  .about__icon {
    grid-row: 2 / 3;
    height: 4rem;
    width: 4rem;
    fill: white;
    margin-bottom: 30rem;
    opacity: 0;
    z-index: 100; }
    @media only screen and (max-width: 76.5em) {
      .about__icon {
        display: none; } }
  .about__card-group {
    grid-row: 3 / 4;
    margin-bottom: 10rem;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 4rem;
    z-index: 5000; }
  .about__viewport {
    grid-row: 4 / 5; }

.birds-container {
  width: 70%;
  height: 2rem; }

.bird {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite; }
  .bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s; }
  .bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s; }

.bird-container {
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }
  .bird-container--one {
    animation-duration: 35s;
    animation-delay: 0; }
  .bird-container--two {
    animation-duration: 36s;
    animation-delay: 1s; }

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
    background-position-x: -900px;
    background-position-y: 0; } }

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
    visibility: visible;
    opacity: 1; }
  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4); }
  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5); }
  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6); }
  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6); }
  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6); }
  60% {
    transform: translateY(0vh) translateX(100vw) scale(0.6);
    opacity: 1;
    visibility: visible; }
  61% {
    transform: translateY(0vh) translateX(101vw) scale(0.6);
    opacity: 0;
    visibility: hidden; }
  100% {
    transform: translateY(0vh) translateX(101vw) scale(0.6);
    opacity: 0;
    visibility: hidden; } }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 20rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer; }
  .card__image {
    height: 110%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    z-index: -5; }
  .card__image:before {
    content: '';
    color: red;
    position: absolute;
    z-index: -3; }
  .card__text {
    font-size: 3rem;
    z-index: 800; }
  .card:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    opacity: 1;
    color: transparent; }
  .card:active {
    transform: translateY(10px); }
  .card:hover > img {
    opacity: 1;
    transform: translateY(-2rem); }
  .card:hover > h3 {
    visibility: hidden; }

.card-3 img {
  padding: 5rem 5rem 4rem 4rem; }

.card-1 {
  z-index: 1000; }

.footer {
  position: relative;
  background-color: black; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  position: fixed;
  top: 0rem;
  right: 3rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: .5rem;
  right: 2rem;
  background-image: radial-gradient(#0b0413, rgba(0, 0, 0, 0.5));
  opacity: 0;
  z-index: 100;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  left: -20rem;
  top: 0;
  z-index: -100;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: slide-down .1s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #f8ebdb;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f8ebdb 50%);
  background-size: 220%;
  transition: all .4s; }
  @media only screen and (min-width: 31.25em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 3rem; } }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #4d1553;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
  opacity: .8; }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  z-index: 101;
  left: 0;
  top: 0; }

.navigation__checkbox:checked ~ .navigation__list {
  display: none; }

.navigation__icon {
  position: relative;
  margin-top: 2rem;
  margin-right: -1rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 1.5rem;
    height: 2px;
    background-color: #4d1553;
    display: inline-block;
    transition: all .3s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.6rem; }
  .navigation__icon::after {
    top: .6rem; }
  .navigation__icon--scrolled, .navigation__icon--scrolled::before, .navigation__icon--scrolled::after {
    background-color: #f8ebdb; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: #f8ebdb; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: #f8ebdb; }

.story__content {
  background-color: #080808;
  z-index: 30;
  position: relative;
  height: 50vh; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .story__content {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 50rem, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 50rem, 0 100%);
      height: 60rem; } }

.about__viewport {
  background-color: rgba(0, 0, 0, 0.685);
  z-index: 0;
  margin-top: 2rem;
  border-radius: .5rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  height: 90vh;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center; }

.wave-container {
  position: relative; }
  .wave-container::before {
    content: '';
    position: absolute;
    top: -14.8rem;
    left: 2rem;
    transform: rotate(3.8deg);
    background-image: url("../static/tree.svg");
    background-repeat: repeat;
    height: 10rem;
    width: 279px;
    z-index: 5; }

.wave {
  position: absolute;
  min-width: 100%;
  bottom: -1px; }
  .wave path {
    fill: #080808; }

.artview__container {
  height: 100%;
  width: 80%;
  overflow-y: scroll;
  background: red; }

.artview__gallery {
  width: 100rem;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center; }

.artview__card {
  position: relative;
  padding: 2rem;
  height: 5rem;
  width: 5rem; }

.artview__thumbnail {
  max-width: 20rem;
  height: auto;
  border-radius: 4px;
  z-index: 1; }

.slider {
  position: relative;
  height: 90%;
  width: 50vw;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column; }
  .slider__wrapper {
    position: relative;
    height: 90%; }
  .slider__slide {
    margin-top: 2rem;
    width: 100%;
    height: 90%;
    background-position: 50% 60%;
    border-radius: 4px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out; }
    .slider__slide:hover {
      transform: scale(1.03); }
  .slider__arrow-wrapper {
    width: 30%;
    height: 10%;
    border-radius: .5rem;
    z-index: 100;
    margin: 0 auto;
    margin-top: 2rem;
    position: relative; }
  .slider__arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
    position: relative; }
    .slider__arrow--right {
      position: absolute;
      right: 1rem;
      z-index: 999; }
      .slider__arrow--right:hover {
        color: #31458C; }
    .slider__arrow--left {
      position: absolute;
      left: 1rem;
      z-index: 999; }
  .slider .fa-arrow-right:before,
  .slider .fa-arrow-left:before {
    color: rgba(255, 245, 245, 0.63); }

.introduction-container {
  position: absolute;
  top: 5rem;
  color: #f8ebdb;
  max-width: 35rem;
  background: transparent;
  padding: 0 2rem;
  letter-spacing: .05rem;
  text-transform: none;
  line-height: 1.6;
  font-size: .9rem;
  font-weight: 100; }
  @media only screen and (min-width: 31.25em) {
    .introduction-container {
      max-width: 35rem;
      letter-spacing: .05rem;
      text-transform: none;
      line-height: 1.6;
      font-size: .9rem;
      font-weight: 100; } }

.introduction-header {
  font-family: 'Montserrat';
  font-weight: 400;
  margin-bottom: 4rem;
  text-transform: uppercase; }

.resume-view {
  height: 100vh;
  width: 100%;
  padding-top: 4rem; }

.project__container {
  height: 80rem;
  width: 95vw;
  margin-top: 0rem;
  padding-top: 5rem;
  border-radius: .2rem;
  background: rgba(255, 255, 255, 0.152);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .project__container {
      -webkit-clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (min-width: 50em) {
    .project__container {
      height: 73rem; } }

.project__header {
  height: 10%;
  width: 100%;
  margin: 10rem 0 1rem 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center; }

.project__card-container {
  height: 75%;
  width: 94%;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 4rem;
  align-items: center;
  justify-items: center; }
  @media only screen and (min-width: 31.25em) {
    .project__card-container {
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); } }
  @media only screen and (min-width: 50em) {
    .project__card-container {
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr)); } }

.project__card {
  position: relative;
  width: 19rem;
  height: 19rem;
  margin-bottom: 0;
  border-radius: .4rem;
  overflow: hidden;
  background: white;
  box-shadow: 2px 3px 15px rgba(32, 68, 122, 0.37);
  transition: all .2s; }
  @media only screen and (min-width: 31.25em) {
    .project__card {
      width: 25rem;
      height: 25rem; }
      .project__card:hover {
        transform: scale(1.02) translateY(-1rem);
        box-shadow: 7px 15px 25px rgba(27, 50, 85, 0.384); } }
  @media only screen and (min-width: 50em) {
    .project__card {
      width: 20rem;
      height: 20rem; } }
  @media only screen and (min-width: 69.25em) {
    .project__card {
      width: 19rem;
      height: 19rem; } }
  .project__card:hover .project__card-overlay {
    opacity: 1;
    background-position: 0%; }
  .project__card:hover .project__card-details {
    opacity: 1;
    visibility: visible; }
  .project__card:hover .project__card-link {
    height: 15%;
    width: 100%;
    font-weight: 400;
    background: #74b7e4;
    opacity: 1;
    z-index: 10; }

.project__card-details {
  height: 50%;
  width: 80%;
  margin-top: 4rem;
  font-weight: 300;
  font-size: 12px;
  text-transform: none;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity .4s ease-in;
  transition-delay: .5s;
  color: rgba(41, 56, 83, 0.781);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 3; }

.project__card-name {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem; }

.project__card-summary {
  margin-bottom: 2rem; }

.project__card-overlay {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all .4s ease-in;
  background-size: 400%;
  background-position: 100%;
  background-image: linear-gradient(150deg, #d3e6f8 0%, #d3e6f8 50%, transparent 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2; }

.project__card-link:link, .project__card-link:visited {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  color: white;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .5s;
  transition-delay: 1s; }

.project__card-image {
  width: 100%;
  height: 101%;
  position: relative;
  background: center;
  background-position-y: -.1rem;
  background-size: cover;
  transition: height .2s;
  z-index: 0; }

.card-image--1 {
  background-image: url("../static/TrailFinder1.svg"); }

.card-image--2 {
  background-image: url("../static/colorette.svg"); }

.card-image--3 {
  background-image: url("../static/shell.svg"); }

.card-image--4 {
  background-image: url("../static/airbnb.svg");
  height: 105%; }

.card-image--5 {
  background-image: url("../static/trailfinder2.svg"); }

.card-image--6 {
  color: rgba(100, 195, 250, 0.993);
  display: flex;
  justify-content: center;
  align-items: center; }

.tree {
  height: 5rem;
  width: 6rem;
  position: absolute;
  top: -5rem;
  right: 1rem; }
