.artview {
    &__container {
        height: 100%;
        width: 80%;
        overflow-y: scroll;

        background: red;
    }

    &__gallery {
        width: 100rem;
        height: 100vh;

        display: grid;
        align-items: center;
        justify-items: center;

    }

    &__card {
        position: relative;
        padding: 2rem;
        height: 5rem;
        width: 5rem;
    }

    &__thumbnail {
        max-width: 20rem;
        height: auto;
        border-radius: 4px;
        z-index: 1;
    }
}