@import '../modules/_variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-row: 1 / 2;
    grid-column: 1 / -1;

    background-color: rgba(49, 13, 53, 0.1);


    position: fixed;
    height: 4rem;

    width: 100%;
    font-size: 2rem;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1.0);
    z-index: 100;


    &--scrolled {
        padding: 15px 0;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        height: 4rem;
        color: $color-secondary-light;
    }

}

.header__logo {
    margin-left: 2rem;
    padding: .5rem 0;
}