.introduction-container {
    position: absolute;
    top: 5rem;
    color: $color-white;
    max-width: 35rem;


    padding: 0 2rem;
    letter-spacing: .05rem;
    text-transform: none;
    line-height: 1.6;
    font-size: .9rem;
    font-weight: 100;

    @include respond(smallest) {


        max-width: 35rem;


        letter-spacing: .05rem;
        text-transform: none;
        line-height: 1.6;
        font-size: .9rem;
        font-weight: 100;
    }
}

.introduction-header {
    font-family: 'Montserrat';
    font-weight: 400;
    margin-bottom: 4rem;
    text-transform: uppercase;



}