.introduction-container {
    position: absolute;
    top: 5rem;
    color: $color-white;
    max-width: 35rem;
    background: transparent;

    padding: 0 2rem;
    letter-spacing: .05rem;
    text-transform: none;
    line-height: 1.6;
    font-size: .9rem;
    font-weight: 100;

    & span {
        display: inline-block;
        margin-bottom: 1rem;
    }

    & h1 {
        margin-bottom: 1rem;
    }

    @include respond(smallest) {
        max-width: 35rem;
        letter-spacing: .05rem;
        text-transform: none;
        line-height: 1.6;
        font-size: .9rem;
        font-weight: 100;
    }

    @include respond(largest) {
        max-width: 40rem;
        left: calc(50% - 20rem);
    }
}

.introduction-header {
    font-family: 'Montserrat';
    font-weight: 400;
    margin-bottom: 4rem;
    text-transform: uppercase;

    @include respond(largest) {
        text-align: center;

    }
}

.art-link,
.art-link:active,
.art-link:visited {

    color: $color-white;

    &:hover {
        color: $color-secondary-light;
    }
}