.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    position: fixed;
    top: 0rem;
    right: 3rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 0.5rem;
    right: 2rem;
    background-image: radial-gradient($color-primary-light, rgba(0, 0, 0, 0.5));
    opacity: 0;
    z-index: 100;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    left: -20rem;
    top: 0;
    z-index: -100;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: slide-down 0.1s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;

      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 224%;
      transition: all 0.4s;

      @include respond(smallest) {
        font-size: 3rem;
      }

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(100);
    opacity: 0.8;
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    z-index: 101;
    left: 0;
    top: 0;
  }

  &__checkbox:checked ~ &__list {
    display: none;
  }

  // HAMBURGER ICON
  &__icon {
    position: relative;
    margin-top: 2rem;
    margin-right: -1rem;

    &,
    &::before,
    &::after {
      width: 1.5rem;
      height: 2px;
      background-color: $color-primary;
      display: inline-block;
      transition: all 0.3s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.6rem;
    }

    &::after {
      top: 0.6rem;
    }

    &--scrolled,
    &--scrolled::before,
    &--scrolled::after {
      background-color: $color-white;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
    background-color: $color-white;
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
    background-color: $color-white;
  }
}
