.project {
    &__container {
        border-radius: .2rem;
        height: 100rem;
        width: 95vw;
        margin-top: 10rem;
        padding-top: 5rem;

        background: rgba(255, 255, 255, 0.152);
        color: white;


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 10rem, 100% 0, 100% 100%, 0 100%);

        }
    }

    &__header {
        text-transform: uppercase;
        margin: 10rem 0 1rem 0;
        font-weight: 500;
        text-align: center;
        height: 10%;
        width: 100%;

    }

    &__card-container {
        height: 100%;
        width: 94%;
        padding-bottom: 18rem;
        padding-top: 2rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 2rem;
        grid-row-gap: 4rem;

        align-items: center;
        justify-items: center;
        overflow-y: scroll;
        overflow-x: hidden;

        @include respond(smallest) {
            grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        }

        @include respond(large) {
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        }

        @include respond (largest) {
            grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
            grid-row-gap: 0rem;
            width: 100%;
            padding-right: 2rem;

        }
    }

    &__card {
        width: 19rem;
        height: 19rem;
        margin-bottom: 0;
        background: white;
        border-radius: .2rem;
        overflow: hidden;
        position: relative;
        transition: all .2s;
        box-shadow: $box-shadow;


        @include respond (smallest) {
            width: 29rem;
            height: 25rem;

            &:hover {
                transform: scale(1.02) translateY(-1rem);
                box-shadow: $box-shadow-dark;
            }
        }

        @include respond (large) {
            width: 20rem;
            height: 20rem;
        }

        @include respond (largest) {
            width: 20rem;
            height: 20rem;
        }



        &:hover>div {
            // transform: scale(1.3);
        }

        &:hover .project__card-name {
            opacity: 1;
            height: 25%;
            width: 100%;
        }

        &:hover .project__link {
            height: 15%;
            width: 100%;
            font-weight: 400;
            background: rgba(134, 207, 250, 0.993);

            z-index: 10;
            opacity: 1
        }
    }

    &__link:hover {
        position: absolute;
        text-align: center;
        display: inline-block;
        height: 20%;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    &__link:link,
    &__link:visited {
        color: white;
        font-weight: 400;
        text-decoration: none;
        bottom: 0;
        right: 0;
        position: absolute;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        width: 0%;
        transition: all .3s;

        &:hover {
            background: rgba(134, 207, 250, 0.993);
            height: 20%;
        }

    }

    &__card-image {
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: cover;
        transition: all .2s;
        position: relative;
        z-index: 0;
    }

    &__card-name {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0%;
        height: 0;
        width: 0%;
        font-weight: 400;
        font-size: 1.2rem;
        background: rgba(134, 207, 250, 0.993);
        z-index: 3;
        opacity: 0;
        text-align: center;
        vertical-align: center;
        transition: all .3s;
    }
}

.card-image {
    &--1 {
        background-image: url('../static/trailfinder.png');
        transform: scale(1.01);
        transition: all .3s;

        &:hover {
            background-image: url('../static/trailview.png');


        }
    }

    &--2 {
        background-image: url('../static/colors.png');


        &:hover {
            background-image: url('../static/colors2.png');

        }
    }

    &--3 {
        background-image: url('../static/shell1.png');

        &:hover {
            background-image: url('../static/shell2.png');

        }
    }

    &--4 {
        background-image: url('../static/airbnb1.png');

        &:hover {
            background-image: url('../static/airbnb2.png');


        }
    }

    &--5 {
        color: rgba(100, 195, 250, 0.993);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--6 {
        color: rgba(100, 195, 250, 0.993);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// .project__card:nth-child(even) .project__card-name {
//     background: rgba(255, 255, 255, 0.945);
//     color: rgba(100, 195, 250, 0.925)
// }