//// RESET ////

*,
*:after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

    text-transform: uppercase;
    font-weight: 300;
    overflow-x: hidden;
}

App {
    position: relative;
}

::-webkit-scrollbar {
    width: 3px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: $color-secondary-light;

}